{% if book %}
  <div class="modal fade" id="borrowBookModal-{{ book.id }}" tabindex="-1" aria-labelledby="exampleModalLabel"aria-hidden="true">

{% else %}
  <div class="modal fade" id="borrowBookModal" tabindex="-1" aria-labelledby="exampleModalLabel" aria-hidden="true">
{%endif%}
  
  <div class="modal-dialog">
    <div class="modal-content">
      <div class="modal-header">
        <h5 class="modal-title" id="bookModalLabel">Borrow Book</h5>
        <button type="button" class="btn-close" data-bs-dismiss="modal"
        aria-label="Close"></button>
      </div>

      <div class="modal-body">
        <form action="./borrow-book" method="post">
          <label class="form-label">Select Book:</label>
          <select name="book_name" class="custom-select form-control" id="book_name">
            {% if book %}
              <option selected="selected" required="required" value={{book.id}}>{{ book.title }}</option>
            {% else %}
              <option selected="selected" required="required" >Books Available</option>
            {% endif %}

            {% for book in books_to_borrow %}
            <option value={{book.id}}>{{book.title}}</option>
            {% endfor %}
          </select>

          
        </form>
      </div>

    </div>
  </div>
    

    </div>

  </div>