{% extends 'base.html' %}

{% block title %}
  Checklist
{% endblock %}

{% block content %}
  {% include 'checklist/borrow_book.html' %}
  {% include 'checklist/return_book.html' %}

<button type="button" class="btn btn-info m" data-bs-toggle="modal" data-bs-target="#borrow_BookModal">Borrow
</button>

<button type="button" class="btn btn-info m" data-bs-toggle="modal" data-bs-target="#returnBookModal">Return
</button>

{% if length > 0 %}
  <table class="table">
    <thead class="table-secondary>
      <tr class="table-id">
        <th scope="col">Transaction ID</th>
        <th scope="col">Book Name</th>
        <th scope="col">Member Name</th>
        <th scope="col">Type of Transaction</th>
        <th scope="col">Date</th>
        <th scope="col">Amount Paid</th>
      </tr>
    </thead>

    <tbody>
      {% for transaction in transactions %}
      <tr>
        <th scope="row" class="table-id">
          {{ transaction.id }}
        </th>
        <td>{{ transaction.book_name[0:40]}}</td>
        <td>{{ transaction.member_name }}</td>
        <td>{{ transaction.type_of_transaction }}</td>
        <td>{{ transaction.date }}</td>
        <td>{{ transaction.amount }}</td>
      </tr>
      {% endfor %}
    </tbody>

  </table>

  {% else %}
  <div class="text-center empty-text">No Transaction Conducted</div>
  {% endif %}

  {% endblock %}