{% extends 'base.html' %}

{% block title %}
    Home
{% endblock %}

{% block style %}
    <style type="text/css">
        .m {
            position: inherit;
        }
    </style>
{% endblock %}

{% block content %}
<!-- including call to action buttons -->
  {% include 'books/add_book.html' %}
  {% include 'contacts/add_contact.html' %}
  {% include 'checklist/borrow_book.html' %}
  {% include 'checklist/return_book.html' %}

  <div class="container bg-success text-secondary px-4 py-5 text-center">
      <div class="py-5">
          <h1 class="display-5 fw-bold text-dark mrbt-2">
              Welcome to Online Library Management
          </h1>
          <div class="col-lg-6 mx-auto">
              <div class="d-grid gap-2 d-flex-column justify-content-around">
                  <button type="button" class="btn btn-info m" data-bs-toggle="modal" data-bs-target="#bookModal">
                      Add Book
                  </button>
                  <button type="button" class="btn btn-info m" data-bs-toggle="modal" data-bs-target="#memberModal">
                      Add Contact
                  </button>
                  <button type="button" class="btn btn-info m" data-bs-toggle="modal" data-bs-target="#borrowBookModal">
                      Borrow Book
                  </button>
                  <button type="button" class="btn btn-info m" data-bs-toggle="modal" data-bs-target="#returnBookModal">
                      Return Book
                  </button>
              </div>
          </div>
      </div>
  </div>
{%endblock%}
